<div class="container">
  <h1>Audio Recorder</h1>
  <button
    *ngIf="!isRecording"
    class="btn1"
    (click)="startRecording()"
    [disabled]="isRecording"
  >
    Record
  </button>
  <p *ngIf="!isRecording" class="sec1">click to start the record</p>
  <button
    *ngIf="isRecording"
    (click)="mediaRecorder.stop(); isRecording = false"
    [disabled]="!isRecording"
  >
    Stop
  </button>
  <div *ngIf="isRecording">
    Recording Duration: {{ sharedService.formatTime(recordingDuration) }}
  </div>
  <ul>
    <li *ngFor="let audio of audioFiles; let i = index">
      <div class="audio-player">
        <div class="num">
          <p>{{ i + 1 }}</p>
        </div>
        <div class="sec2">
          <p>Recording {{ i + 1 }}</p>
          <span>{{ sharedService.formatTime(audio.recordingDuration) }}</span>
        </div>
        <div class="sec3" (click)="togglePlay(audio)">
          <svg
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
          >
            <path
              d="M23 12l-22 12v-24l22 12zm-21 10.315l18.912-10.315-18.912-10.315v20.63z"
            />
          </svg>
        </div>
      </div>
    </li>
  </ul>
</div>
